/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/*
* Built using on:
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Buttons
- Brand Styles

*/

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  display: inline-block;
  text-decoration: none;
  height: 48px;
  padding: 0 16px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box; }

/* Efecto de movimiento */
.button:hover {
  filter: brightness(80%);
  transition: 0.4s;
  padding-right: 24px;
  padding-left:8px;
}

/* Efecto para description */
.button:hover:before {
  border: none;
  color: white;
  position: absolute;
  padding: 0px 35px;
  width: 400px;
  height: auto;
  word-spacing: 3px;
  text-align: left;
  text-decoration: none;
  line-height: 1.3;
  display: block;
  font-size: 18px;
  margin: 0px 280px;
  cursor: pointer;
  vertical-align: middle;
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}


/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Slack */
.button.button-slack {
  color: #FFFFFF;
  background-color: #7b16ff }
.button.button-slack:hover,
.button.button-slack:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial; }

/* Kit */
.button.button-kit {
  color: #FFFFFF;
  background-color: #10c694 }
.button.button-kit:hover,
.button.button-kit:hover:before {
    content: 'Aquí vas a encontrar la lista completa y actualizada de todo el hardware que uso para trabajar y hacer mis videos de YouTube.';
    white-space: initial; }

/* YouTube */
.button.button-youtube {
  color: #FFFFFF;
  background-color: #FF0000 }
.button.button-youtube:hover,
.button.button-youtube:hover:before {
    content: 'Este es mi segundo canal de YouTube, donde subo vlogs y contenido más personal :) No, no ese tipo de contenido.';
    white-space: initial; }

/* Slides */
.button.button-slides {
  color: #FFFFFF;
  background-color: #212c3d }
.button.button-slides:hover,
.button.button-slides:hover:before {
    content: 'Mis slides de cuando doy charlas en conferencias.';
    white-space: initial; }

/* Mercha */
.button.button-mercha {
  color: #000000;
  background-color: #fffc00 }
.button.button-mercha:hover,
.button.button-mercha:hover:before {
    content: 'Esta es mi tienda de merchandising, puedes encontrar remeras/camisetas/poleras y otro tipo de cosas :)';
    white-space: initial; }

/* Reddit */
.button.button-reddit {
  color: #FFFFFF;
  background-color: #FF4500 }
.button.button-reddit:hover,
.button.button-reddit:hover:before {
    content: 'Mi subreddit, como un pequeño foro para hacer preguntas sobre mis videos o cualquier tema relacionado con el contenido de mi canal.';
    white-space: initial; }

/* Mail */
.button.button-mail {
  color: #000000;
  background-color: #E8F3EC }
.button.button-mail:hover,
.button.button-mail:hover:before {
    content: 'Haciendo click aquí, puedes enviarme un mail, puedo tardar en responder!';
    white-space: initial; }

/* Ko-Fi */
.button.button-kofi {
  color: #FFFFFF;
  background-color: #ff5500 }
.button.button-kofi:hover,
.button.button-kofi:hover:before {
    content: 'Si quieres, puedes comprarme un cafecito usando este link.';
    white-space: initial; }

/* Mercha */
.button.button-sponsors {
  color: #000000;
  background-color: #fffc00 }
.button.button-sponsors:hover,
.button.button-sponsors:hover:before {
    content: 'Si quieres trabajar conmigo, patrocinando algún video en mi canal, te recomiendo que leas esta página primero.';
    white-space: initial; }
